.section-img-card-container {
    background-color:dimgray;
}

.section-img-card-img-container {
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.section-img-card-img {
    max-width:100%;
    max-height:100%;
    height: auto;
    width:auto;
    object-fit: contain;
}

.section-img-card-built-with-text {
    font-weight: 600;
    font-size: 0.8em;
    margin-bottom: 0.2rem;
}

.section-img-card-built-with-icon {
    height: 64px;
    width: 64px;
    padding: 0.25rem;
}

@media only screen and (min-width: 1024px) {
}