.jumbotron-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron-row-container {
    flex-direction: column;
    justify-content: center;
}

.jumbotron-img-container {
    justify-content: center;
    align-items: center;
    width: 80%;
}

.jumbotron-img {
    object-fit: contain;
}

@media only screen and (max-width: 576px) {
    .jumbotron-img-container {
        justify-content: center;
        align-items: center;
        width: 50%;
    }
}