.section-container {
    padding-top: 2rem;
    max-height: 400px;
}

.section-body-header-container {
    margin-bottom: 0.5rem;
    margin-left: 0 !important;
}

.section-body-text {
    margin-bottom: 1rem;
}

.section-body-cta-btn {
    margin-right: 1rem;
}

.section-img-container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.section-img {
    max-width: 250px;
    width: 100%;
    object-fit: contain;
}

.section-built-with-text {
    font-weight: 600;
    font-size: 0.75em;
}

.section-bottom-row-container {
    align-items: center;
}

@media only screen and (max-width: 425px) {
    .section-img {
        max-width: 100%;
    }
}